<a href="https://colab.research.google.com/github/Vijay-Akshar/Data-Science-Projects/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#How big is the dataset?
df = pd.read_csv('/content/titanic.csv')
df.shape

(891, 12)

In [3]:
#What does the dataset look like?
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
476,477,0,2,"Renouf, Mr. Peter Henry",male,34.0,1,0,31027,21.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.0,1,0,28664,21.0000,NaN,S

In [4]:
print("Unique values in 'Sex' column:")
print(df['Sex'].unique())
print(f"Number of unique values: {df['Sex'].nunique()}\n")

print("Unique values in 'Pclass' column:")
print(df['Pclass'].unique())
print(f"Number of unique values: {df['Pclass'].nunique()}\n")

print("Unique values in 'Embarked' column:")
print(df['Embarked'].unique())
print(f"Number of unique values: {df['Embarked'].nunique()}\n")

Unique values in 'Sex' column:
['male' 'female']
Number of unique values: 2

Unique values in 'Pclass' column:
[3 1 2]
Number of unique values: 3

Unique values in 'Embarked' column:
['S' 'C' 'Q' nan]
Number of unique values: 3

In [5]:
#What are the datatypes of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

We see cabin has a LOT of null values, Age has a few. So let's see what null values are there

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

oof

In [7]:
#How does the data look mathematically?
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
#Are there duplicated values
df.duplicated().sum()

np.int64(0)

In [9]:
df.corr(numeric_only=True)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [10]:
df.corr(numeric_only=True)['Age']

PassengerId    0.036847
Survived      -0.077221
Pclass        -0.369226
Age            1.000000
SibSp         -0.308247
Parch         -0.189119
Fare           0.096067
Name: Age, dtype: float64

Here passengerID has almost no correlation with the age, survival rates have little negative correlation - that is if you're younger you have a VERY slightly worse chance of surviving but it's barely anything. There's moderate correlation between class and age, Younger passengers tended to be in lower classes, older passengers more often in 1st class. There was an inverse relationship between age and number of siblings and spouses - you tended to be younger if you have a lot of siblings and spouses. Same thing for parents/children, If you have parents/children aboard, you tend to be younger. Finally, Richer passengers were slightly older, but the effect is tiny.

Let's work on the database, and like fix the values. Let's make the use case of "With these parameters, did this passenger survive?". I'll first fill in the gaps

In [11]:
#I used mode as embarked is a categorical value
embarked_mode = df['Embarked'].mode()[0]
df['Embarked'].fillna(embarked_mode, inplace=True)

/tmp/ipython-input-3855559789.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(embarked_mode, inplace=True)

In [12]:
#I used mode as age is a numerical value
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

/tmp/ipython-input-3211241816.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)

In [13]:
# I dropped the 'Cabin' column due to a large number of missing values
df.drop('Cabin', axis=1, inplace=True)

In [14]:
# Verify that all missing values have been handled
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

No more missing values

In [15]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
774,775,1,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,S
670,671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0,1,1,29750,39.0000,S
784,785,0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,S
790,791,0,3,"Keane, Mr. Andrew ""Andy""",male,28.0,0,0,12460,7.7500,Q
590,591,0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.1250,S
426,427,1,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28.0,1,0,2003,26.0000,S
817,818,0,2,"Mallet, Mr. Albert",male,31.0,1,1,S.C./PARIS 2079,37.0042,C

In [16]:
#Dropping Fare and ticket as Idk how it mattered when the titanic sunk
df.drop(['Fare', 'Ticket'], axis=1, inplace=True)

In [17]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Embarked
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.0,4,1,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,C
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,S
491,492,0,3,"Windelov, Mr. Einar",male,21.0,0,0,S
393,394,1,1,"Newell, Miss. Marjorie",female,23.0,1,0,C
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,S
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,C
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.0,0,0,S
349,350,0,3,"Dimic, Mr. Jovan",male,42.0,0,0,S

In [18]:
# Define the mapping for 'Embarked' column
embarked_mapping = {'S': 1, 'Q': 2, 'C': 3}

# Apply the mapping to the 'Embarked' column using a lambda function
df['Embarked'] = df['Embarked'].apply(lambda x: embarked_mapping.get(x, x))
print(df['Embarked'].unique())
df.sample(10)

[1 3 2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Embarked
557,558,0,1,"Robbins, Mr. Victor",male,28.0,0,0,3
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,3
370,371,1,1,"Harder, Mr. George Achilles",male,25.0,1,0,3
525,526,0,3,"Farrell, Mr. James",male,40.5,0,0,2
582,583,0,2,"Downton, Mr. William James",male,54.0,0,0,1
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,1
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,1
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.0,0,2,3
107,108,1,3,"Moss, Mr. Albert Johan",male,28.0,0,0,1
791,792,0,2,"Gaskell, Mr. Alfred",male,16.0,0,0,1

In [19]:
# Define the mapping for 'Embarked' column
embarked_mapping = {'female': 1, 'male' : 0}

# Apply the mapping to the 'Embarked' column using a lambda function
df['Sex'] = df['Sex'].apply(lambda x: embarked_mapping.get(x, x))
print(df['Sex'].unique())
df.sample(10)

[0 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Embarked
159,160,0,3,"Sage, Master. Thomas Henry",0,28.0,8,2,1
179,180,0,3,"Leonard, Mr. Lionel",0,36.0,0,0,1
229,230,0,3,"Lefebre, Miss. Mathilde",1,28.0,3,1,1
784,785,0,3,"Ali, Mr. William",0,25.0,0,0,1
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",1,43.0,1,6,1
476,477,0,2,"Renouf, Mr. Peter Henry",0,34.0,1,0,1
57,58,0,3,"Novel, Mr. Mansouer",0,28.5,0,0,3
363,364,0,3,"Asim, Mr. Adola",0,35.0,0,0,1
29,30,0,3,"Todoroff, Mr. Lalio",0,28.0,0,0,1
355,356,0,3,"Vanden Steen, Mr. Leo Peter",0,28.0,0,0,1

In [20]:
df['Age'] = df['Age'].astype(int)
df.info()
df.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Embarked     891 non-null    int64
dtypes: int64(8), object(1)
memory usage: 62.8+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Embarked
868,869,0,3,"van Melkebeke, Mr. Philemon",0,28,0,0,1
434,435,0,1,"Silvey, Mr. William Baird",0,50,1,0,1
825,826,0,3,"Flynn, Mr. John",0,28,0,0,2
177,178,0,1,"Isham, Miss. Ann Elizabeth",1,50,0,0,3
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",1,52,1,0,3
144,145,0,2,"Andrew, Mr. Edgardo Samuel",0,18,0,0,1
202,203,0,3,"Johanson, Mr. Jakob Alfred",0,34,0,0,1
566,567,0,3,"Stoytcheff, Mr. Ilia",0,19,0,0,1
109,110,1,3,"Moran, Miss. Bertha",1,28,1,0,2
562,563,0,2,"Norman, Mr. Robert Douglas",0,28,0,0,1
62,63,0,1,"Harris, Mr. Henry Birkhardt",0,45,1,0,1
157,158,0,3,"Corn, Mr. Harry",0,30,0,0,1
783,784,0,3,"Johnston, Mr. Andrew G",0,28,1,2,1
565,566,0,3,"Davies, Mr. Alfred J",0,24,2,0,1
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",1,25,0,0,1
620,621,0,3,"Yasbeck, Mr. Antoni",0,27,1,0,3
869,870,1,3,"Johnson, Master. Harold Theodor",0,4,1,1,1
391,392,1,3,"Jansson, Mr. Carl Olof",0,21,0,0,1
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",1,36,1,2,1
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",1,24,0,0,1

In [21]:
# I'm dropping the 'Name' and 'PassengerID' column. Yeah i dont see if it's needed to survive
df.drop('PassengerId', axis=1, inplace=True)
df.drop('Name', axis=1, inplace=True)
df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Embarked
0         0       3    0   22      1      0         1
1         1       1    1   38      1      0         3
2         1       3    1   26      0      0         1
3         1       1    1   35      1      0         1
4         0       3    0   35      0      0         1

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Define features (X) and target (y)
# 'Survived' is our target variable
X = df.drop('Survived', axis=1)
y = df['Survived']

# Perform train-test split (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}")
print(f"Testing target shape: {y_test.shape}")

Training features shape: (712, 6)
Testing features shape: (179, 6)
Training target shape: (712,)
Testing target shape: (179,)

In [23]:
model = LogisticRegression(solver='liblinear', random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy on Test Set: {accuracy:.4f}")

Model Accuracy on Test Set: 0.8045

But like this gives me 80% accuracy let's try deep learning methods

In [24]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [33]:
model_dl = Sequential()
model_dl.add(Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model_dl.add(Dense(128, activation='relu'))
model_dl.add(Dense(64, activation='relu'))
model_dl.add(Dense(32, activation='relu'))
model_dl.add(Dense(1, activation='sigmoid'))

print("Deep Learning model constructed successfully.")

Deep Learning model constructed successfully.

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [34]:
model_dl.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [35]:
history = model_dl.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2, verbose=1)

print("Deep Learning model training complete.")

Epoch 1/50
18/18  3s 18ms/step - accuracy: 0.5746 - loss: 0.7119 - val_accuracy: 0.6713 - val_loss: 0.6427
Epoch 2/50
18/18  0s 7ms/step - accuracy: 0.6378 - loss: 0.6494 - val_accuracy: 0.7832 - val_loss: 0.6257
Epoch 3/50
18/18  0s 6ms/step - accuracy: 0.7022 - loss: 0.6150 - val_accuracy: 0.6503 - val_loss: 0.5721
Epoch 4/50
18/18  0s 6ms/step - accuracy: 0.6693 - loss: 0.6069 - val_accuracy: 0.7483 - val_loss: 0.5381
Epoch 5/50
18/18  0s 6ms/step - accuracy: 0.7161 - loss: 0.5519 - val_accuracy: 0.7343 - val_loss: 0.5110
Epoch 6/50
18/18  0s 6ms/step - accuracy: 0.7553 - loss: 0.5303 - val_accuracy: 0.7203 - val_loss: 0.5058
Epoch 7/50
18/18  0s 6ms/step - accuracy: 0.7852 - loss: 0.4907 - val_accuracy: 0.8392 - val_loss: 0.4619
Epoch 8/50
18/18  0s 6ms/step - accuracy: 0.7855 - loss: 0.4795 - val_accuracy: 0.8392 - val_loss: 0.4365
Epoch 9/50
18/18  0s 7ms/step - accuracy: 0.7926 - loss: 0.4646 - val_accuracy: 0.8531 - val_loss: 0.4201
Epoch 10/50
18/18  0s 6ms/step - accuracy: 0.7851 - loss: 0.4616 - val_accuracy: 0.7972 - val_loss: 0.4401
Epoch 11/50
18/18  0s 6ms/step - accuracy: 0.7809 - loss: 0.4599 - val_accuracy: 0.8601 - val_loss: 0.4060
Epoch 12/50
18/18  0s 8ms/step - accuracy: 0.7906 - loss: 0.4462 - val_accuracy: 0.8531 - val_loss: 0.4146
Epoch 13/50
18/18  0s 7ms/step - accuracy: 0.8001 - loss: 0.4816 - val_accuracy: 0.8531 - val_loss: 0.4150
Epoch 14/50
18/18  0s 6ms/step - accuracy: 0.8058 - loss: 0.4667 - val_accuracy: 0.7902 - val_loss: 0.4925
Epoch 15/50
18/18  0s 6ms/step - accuracy: 0.7820 - loss: 0.4753 - val_accuracy: 0.8042 - val_loss: 0.4372
Epoch 16/50
18/18  0s 6ms/step - accuracy: 0.8192 - loss: 0.4413 - val_accuracy: 0.8392 - val_loss: 0.4088
Epoch 17/50
18/18  0s 6ms/step - accuracy: 0.7953 - loss: 0.4339 - val_accuracy: 0.8392 - val_loss: 0.4180
Epoch 18/50
18/18  0s 6ms/step - accuracy: 0.8274 - loss: 0.4173 - val_accuracy: 0.8392 - val_loss: 0.4040
Epoch 19/50
18/18  0s 7ms/step - accuracy: 0.8334 - loss: 0.4073 - val_accuracy: 0.8462 - val_loss: 0.4113
Epoch 20/50
18/18  0s 7ms/step - accuracy: 0.8174 - loss: 0.4256 - val_accuracy: 0.8392 - val_loss: 0.4049
Epoch 21/50
18/18  0s 7ms/step - accuracy: 0.7897 - loss: 0.4618 - val_accuracy: 0.8322 - val_loss: 0.4182
Epoch 22/50
18/18  0s 6ms/step - accuracy: 0.8239 - loss: 0.4164 - val_accuracy: 0.8392 - val_loss: 0.4076
Epoch 23/50
18/18  0s 7ms/step - accuracy: 0.8437 - loss: 0.3951 - val_accuracy: 0.8392 - val_loss: 0.4302
Epoch 24/50
18/18  0s 7ms/step - accuracy: 0.8369 - loss: 0.4087 - val_accuracy: 0.8392 - val_loss: 0.4110
Epoch 25/50
18/18  0s 6ms/step - accuracy: 0.8286 - loss: 0.4121 - val_accuracy: 0.8462 - val_loss: 0.4242
Epoch 26/50
18/18  0s 8ms/step - accuracy: 0.8084 - loss: 0.4179 - val_accuracy: 0.8531 - val_loss: 0.4136
Epoch 27/50
18/18  0s 6ms/step - accuracy: 0.8388 - loss: 0.3853 - val_accuracy: 0.8462 - val_loss: 0.4211
Epoch 28/50
18/18  0s 7ms/step - accuracy: 0.8153 - loss: 0.4133 - val_accuracy: 0.8601 - val_loss: 0.4173
Epoch 29/50
18/18  0s 6ms/step - accuracy: 0.8352 - loss: 0.3822 - val_accuracy: 0.8462 - val_loss: 0.4189
Epoch 30/50
18/18  0s 6ms/step - accuracy: 0.8067 - loss: 0.4227 - val_accuracy: 0.8601 - val_loss: 0.4235
Epoch 31/50
18/18  0s 7ms/step - accuracy: 0.8363 - loss: 0.4077 - val_accuracy: 0.8252 - val_loss: 0.4341
Epoch 32/50
18/18  0s 6ms/step - accuracy: 0.8243 - loss: 0.3865 - val_accuracy: 0.8462 - val_loss: 0.4385
Epoch 33/50
18/18  0s 7ms/step - accuracy: 0.8418 - loss: 0.3697 - val_accuracy: 0.8462 - val_loss: 0.4191
Epoch 34/50
18/18  0s 6ms/step - accuracy: 0.8317 - loss: 0.3668 - val_accuracy: 0.8531 - val_loss: 0.4388
Epoch 35/50
18/18  0s 6ms/step - accuracy: 0.8294 - loss: 0.4065 - val_accuracy: 0.8392 - val_loss: 0.4286
Epoch 36/50
18/18  0s 6ms/step - accuracy: 0.8286 - loss: 0.4202 - val_accuracy: 0.8112 - val_loss: 0.4818
Epoch 37/50
18/18  0s 6ms/step - accuracy: 0.8022 - loss: 0.4158 - val_accuracy: 0.8462 - val_loss: 0.4329
Epoch 38/50
18/18  0s 7ms/step - accuracy: 0.8065 - loss: 0.4075 - val_accuracy: 0.8462 - val_loss: 0.4433
Epoch 39/50
18/18  0s 7ms/step - accuracy: 0.8193 - loss: 0.3927 - val_accuracy: 0.8112 - val_loss: 0.4689
Epoch 40/50
18/18  0s 7ms/step - accuracy: 0.8485 - loss: 0.3767 - val_accuracy: 0.8182 - val_loss: 0.4563
Epoch 41/50
18/18  0s 7ms/step - accuracy: 0.8050 - loss: 0.4175 - val_accuracy: 0.8392 - val_loss: 0.4485
Epoch 42/50
18/18  0s 7ms/step - accuracy: 0.8361 - loss: 0.4092 - val_accuracy: 0.8462 - val_loss: 0.4506
Epoch 43/50
18/18  0s 11ms/step - accuracy: 0.8366 - loss: 0.3986 - val_accuracy: 0.8392 - val_loss: 0.4662
Epoch 44/50
18/18  0s 10ms/step - accuracy: 0.8231 - loss: 0.4233 - val_accuracy: 0.8392 - val_loss: 0.4414
Epoch 45/50
18/18  0s 12ms/step - accuracy: 0.8415 - loss: 0.3819 - val_accuracy: 0.8392 - val_loss: 0.4454
Epoch 46/50
18/18  0s 12ms/step - accuracy: 0.8537 - loss: 0.3704 - val_accuracy: 0.8112 - val_loss: 0.5141
Epoch 47/50
18/18  0s 11ms/step - accuracy: 0.8022 - loss: 0.4493 - val_accuracy: 0.8322 - val_loss: 0.4499
Epoch 48/50
18/18  0s 11ms/step - accuracy: 0.8440 - loss: 0.3820 - val_accuracy: 0.8601 - val_loss: 0.4487
Epoch 49/50
18/18  0s 12ms/step - accuracy: 0.8334 - loss: 0.3852 - val_accuracy: 0.8462 - val_loss: 0.4582
Epoch 50/50
18/18  0s 13ms/step - accuracy: 0.8039 - loss: 0.4439 - val_accuracy: 0.8462 - val_loss: 0.4709
Deep Learning model training complete.

In [36]:
loss, dl_accuracy = model_dl.evaluate(X_test, y_test, verbose=0)
print(f"Deep Learning Model Accuracy on Test Set: {dl_accuracy:.4f}")
print(f"Logistic Regression Model Accuracy on Test Set: {accuracy:.4f}")

Deep Learning Model Accuracy on Test Set: 0.7989
Logistic Regression Model Accuracy on Test Set: 0.8045